<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="3; url='/users/dashboard'" />
</head>

<body>
    <h3 style="color:coral">You have successfully added a new book</h3>
</body>

</html>