<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="1; url='/book/read'" />
</head>

<body>
    <h3 style="color:coral">You are now logged out. Redirecting back to homepage...</h3>
</body>

</html>